.main-window{
    display: flex;
    justify-content: space-between;
}

.side-container{
    height: 80vh;
}

.left-side-container{
    width: 40vw;
    /* background-color: aqua; */
}

.right-side-container{
    width: 40vw;
    background-image: url('images/characterBox.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
