html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body{
    background-image: url('https://s9.gifyu.com/images/SFTMz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  :root{
    --main-text-color: #a38b43;
    --focus-color: #771a0e;
  }